@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  background: url(Background.jpg) no-repeat center center fixed;
  /*   background: rgb(1, 2, 19); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: fixed;
  height: 100vh;
  width: 14rem;
  transition-duration: 1s;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.nav-item {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.name {
  display: inline-block;
  position: relative;
  margin: 30px;
  height: 0;
  font-size: 28px;
  text-decoration: none;
  transition-duration: 1000ms;
}

.name:hover {
  color: rgb(228, 164, 233);
  transition-duration: 250ms;
}

.icone {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  opacity: 25%;
  transition-duration: 500ms;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
}

.nav-link-title {
  color: white;
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.nav-link-title:hover {
  color: rgb(255, 157, 247);
}

.nav-link-title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 157, 247);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out, color 1s;
}

.nav-link-title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(10px);
}

.navbar:hover .nav-link-title {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s linear;
}

.navbar:hover .icone {
  opacity: 50%;
  transition-duration: 500ms;
}

.nav-link:hover .icone {
  opacity: 100;
  transition-duration: 500ms;
}

header {
  display: flex;
  position: fixed;
  left: 85%;
  height: 100px;
  margin-right: 50px;
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

header img {
  height: 30px;
  width: 30px;
  margin: 30px;
  transition-duration: 0.5s;
}

header img:hover {
  opacity: 50%;
  transition-duration: 0.5s;
}

.icone-menu:hover .menu {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: -100px;
}

body .container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.container section {
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
}

section:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 200px;
  padding-left: 250px;
}

section:nth-of-type(1) .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

section:nth-of-type(1) .section-container h1 {
  font-size: 110px;
  font-weight: 500;
  width: 550px;
  line-height: 110px;
  letter-spacing: 15px;
}

section:nth-of-type(1) .section-container .space-line {
  background: linear-gradient(90deg, rgb(255, 157, 247), rgb(183, 0, 255));
  height: 5px;
  width: 200px;
  border-radius: 15px;
}

section:nth-of-type(1) .portfolio {
  background: linear-gradient(
    90deg,
    rgb(183, 0, 255),
    rgb(255, 157, 247),
    rgb(0, 217, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 5px;
  z-index: 2;
}

section:nth-of-type(1) .portfolio:hover {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
}

section:nth-of-type(1) p {
  font-size: 30px;
  font-weight: 300;
}

section:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section:nth-of-type(5) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.wrapper {
  width: 50%;
  min-width: 500px;
  transform: translate(0, 0);
  left: 50%;
  top: 50%;
}

.skills-container {
  width: 100%;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.shape-1 {
  height: 400px;
  width: 400px;
  background: linear-gradient(#7507cf, #f54ce7);
  border-radius: 50%;
  position: absolute;
  bottom: -150px;
  left: -150px;
  z-index: -1;
}

.shape-2 {
  height: 250px;
  width: 250px;
  background: linear-gradient(rgb(228, 15, 121), rgb(170, 6, 235));
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: -50px;
  z-index: -1;
}

.shape-3 {
  height: 350px;
  width: 350px;
  background: linear-gradient(rgb(15, 114, 228), rgb(6, 189, 235));
  border-radius: 50%;
  position: absolute;
  top: 350px;
  right: -150px;
  z-index: -1;
}

h2 {
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

.details {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.css-icone {
  height: 30px;
  width: 30px;
}

.html-icone {
  height: 30px;
  width: 30px;
}

.python-icone {
  height: 30px;
  width: 30px;
}

.golang-icone {
  height: 30px;
  width: 30px;
}

.bar {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar-golang {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar-html {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar-python {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar-design {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(15, 201, 247);
  border: 1px solid rgb(53, 131, 233);
  box-shadow: 0 0 5px rgb(8, 132, 163);
}

.bar-html div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(230, 98, 59);
  border: 1px solid rgb(204, 51, 4);
  box-shadow: 0 0 5px rgb(156, 26, 8);
}

.bar-golang div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(62, 197, 28);
  border: 1px solid rgb(111, 153, 13);
  box-shadow: 0 0 5px rgb(7, 107, 12);
}

.bar-design div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(183, 28, 197);
  border: 1px solid rgb(187, 13, 143);
  box-shadow: 0 0 5px rgb(70, 7, 107);
}

.bar-python div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(214, 202, 29);
  border: 1px solid rgb(153, 139, 13);
  box-shadow: 0 0 5px rgb(107, 105, 7);
}

#design-bar {
  animation: design-fill 2s forwards;
}
@keyframes design-fill {
  100% {
    width: 50%;
  }
}

#html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 70%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 50%;
  }
}
#python-bar {
  animation: python-fill 2s forwards;
}
@keyframes python-fill {
  100% {
    width: 30%;
  }
}
#golang-bar {
  animation: golang-fill 2s forwards;
}
@keyframes golang-fill {
  100% {
    width: 40%;
  }
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bartitle {
  margin-left: 10px;
  align-self: center;
}

.html-percent {
  margin-left: 83%;
}

.css-percent {
  margin-left: 85%;
}

.python-percent {
  margin-left: 80%;
}

.golang-percent {
  margin-left: 79%;
}
